:root {
    font-size: 16px;
    --c-head: "Poppins", sans-serif;
    --c-body: "Lexend", sans-serif;
  
    --c-s-head: 2rem;
    --c-s-body: 1rem;
    --c-s-1: 2rem;
    --c-s-2: 1.5rem;
    --c-s-3: 1rem;
    --c-s-4: 0.8rem;
    
    --dark:#1E1E1E;
    --col-sec:#EDE9D0;
  }
  