@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600&display=swap");
@import "reset";
@import "var";

/* variables */

// fonts
.c-head {
  font-family: var(--c-head);
}
.c-body {
  font-family: var(--c-body);
}
.heading {
  font-family: var(--c-head);
  font-size: var(--c-s-head);
  font-weight: 600;
}
.body-text {
  font-family: var(--c-body);
  font-size: var(--c-s-body);
  font-weight: 400;
}
.c-s-1 {
  font-size: var(--c-s-1);
}
.c-s-2 {
  font-size: var(--c-s-2);
}
.c-s-3 {
  font-size: var(--c-s-3);
}
.c-s-4 {
  font-size: var(--c-s-4);
}
// colors
.bg-col-sec {
  background-color: var(--col-sec);
}

//card
.c-card {
  width: clamp(350px, 40vw, 400px);
}

// reset
a {
  text-decoration: none !important;
}
//
.crausal-cont {
  height: 75vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}
// cards
.card-cont {
  height: 600px;
  .home-card {
    width: 360px;
    height: 520px;
    overflow: hidden;
    .card-img {
      height: 400px;
      overflow: hidden;
      transition: 0.4s;
      img {
        width: 100%;
      }
    }
    .card-content {
      height: 100px;
      transition: 0.4s;
      overflow: hidden;
    }
    &:hover > .card-img {
      height: 220px;
    }
    &:hover > .card-content {
      height: 460px;
    }
  }
}
