@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600&display=swap");
@import "reset";
@import "var";

/* variables */

// fonts
.c-head {
  font-family: var(--c-head);
}
.c-body {
  font-family: var(--c-body);
}
.heading {
  font-family: var(--c-head);
  font-size: var(--c-s-head);
  font-weight: 600;
}
.body-text {
  font-family: var(--c-body);
  font-size: var(--c-s-body);
  font-weight: 400;
}
.c-s-1 {
  font-size: var(--c-s-1);
}
.c-s-2 {
  font-size: var(--c-s-2);
}
.c-s-3 {
  font-size: var(--c-s-3);
}
.c-s-4 {
  font-size: var(--c-s-4);
}

//card
.c-card {
  width: clamp(350px, 40vw, 400px);
}

// reset
a {
  text-decoration: none !important;
}
